@media screen and (min-width: 400px) {
    .articles {
        display: grid;
        grid-template-columns: auto auto;
    }
    .design_principles_3 {
        width: 500px;
        background-color: #427AA1;
        box-shadow: 1px 1px 4px 1px #888;
        border-top-left-radius: 10px 10px;
        border-top-right-radius: 10px 10px;
        overflow: hidden;
        font-family: arial, sans-serif;
        margin: 1em;
    }
    #d_p_1 {
        grid-column: 1/2;
    }
    #d_p_2 {
        grid-column: 2/4;
    }
    #d_p_3 {
        grid-column: 1/4;
        grid-row: 2/4;
    }
    #i_3 {
        width: 480px;
    }
}
