@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Source+Sans+Pro&display=swap");

/* Home and Mobie View */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Oswald;
}

p {
  font-family: Source Sans Pro;
}

body {
  margin: 0 auto;
  background-color: #162f57;
}
main {
  background-color: white;
  margin-top: -50px;
  
}
.purpose {
  padding: 1em;
}

header {
  display: grid;
  grid-template-rows: auto;
  background-color: white;
}
.logo {
  display: block;
  justify-self: center;
  width: 200px;
  position: relative;
}

.login {
  border-style: solid;
  border-color: black;
  width: 100px;
  height: 30px;
  background-color: white;
  justify-self: end;
  margin: 10px;
  cursor: pointer;
  font-family: Source Sans Pro;
}

.topHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
  grid-row: 1/2;
  z-index: 2;
  grid-column: 1;
  background-color: #efefef;
  opacity: 0.9;
}
.banner {
  width: 100%;
  grid-row: 1/5;
  z-index: 1;
  grid-column: 1;
}
.bannerButton {
  width: 100px;
  height: 40px;
  position: relative;
  bottom: 160%;
  left: 10%;
  z-index: 2;
  background-color: rgba(151, 150, 150, 0.7);
  color: white;
  border: 3px solid white;
  font-size: 12px;
  transition: all 0.3s ease 0s;
}

.bannerButton:hover {
  background-color: white;
  color: black;
}

.ham {
  color: white;
  text-decoration: none;
  justify-self: end;
  padding: 1em;
  font-size: 20px;
}
nav {
  background-color: #162f57;
  position: sticky;
  top: 0;
  z-index: 100;
  margin: 0;
  padding: 0;
}

.links {
  list-style: none;
  justify-content: center;
}

.links li {
  display: block;
  padding: 10px 20px;
  display: none;
}

.responsive li {
  display: block;
  position: sticky;
}

.links li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-family: Source Sans Pro;
}

.links li a {
  transition: all 0.3s ease 0s;
}

.links li a:hover {
  color: black;
  background-color: white;
  padding: 10px;
}

footer {
  background-image: linear-gradient(#162f57, #162f57, white);
}

#break {
  background-color: white;
}

.logo_2 {
  width: 150px;
}

#address {
  color: white;
  padding: 10px;
}

.info {
  grid-row: 1;
}

#contact {
  color: white;
  padding: 1em;
  justify-self: end;
  grid-row: 1;
}

#contact a {
  color: white;
}

.footerTop {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  align-content: center;
}

.footerBottom {
  padding: 5px;
  text-align: center;
}

.copyright {
  color: black;
}

.logo_2 {
  padding: 10px;
}
.layout {
  padding: 1em;
}

.welcome {
  text-align: center;
}

.history {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    padding: 3em;
}

#phx {
    display: none;
}

.peo {
    text-align: center;
    margin-top: 40px;
    display: grid;
    grid-template-rows: auto;
    background-color: rgb(67, 67, 67);
    color: white;
    align-items: center;
}

.peo p {
    font-size: 19px;
}

#action {
    font-size: 25px;
}
.callToAction {
    padding: 1em;
    z-index: 2;
    grid-row: 1/4;
    grid-column: 1;
}

.peo img {
    max-width: 100%;
    z-index: 1;
    grid-row: 1/4;
    grid-column: 1;
    opacity: 0.3;
}

.ourSolutions {
    padding: 1em;
    justify-content: center;
}

.rowA {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    align-items: center;
    text-align: center;
    margin: 10px;
}
.rowB {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin: 10px;
}

.solution {
    background-color: #555;
    width: 100%;
    height: 100%;
    font-size: 10px;
    align-items: center;
}

.solution h2 {
    z-index: 2;
    grid-column: 1;
    grid-row: 1/2;
    color: white;
}
.solution img {
    width: 100%;
    z-index: 1;
    grid-column: 1;
    grid-row: 1/2;
}
/* HUMAN RESOURCES */

/* EMPLOYEE BENEFITS */

/* RISK MANAGEMENT */

/* RECRUITMENT SOLUTIONS */

/* CONTACT US */

/*Desktop View */
@media screen and (min-width: 800px) {
  .topHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
  }
  nav {
    background-color: #162f57;
    position: sticky;
    top: 0;
    z-index: 100;
    margin: 0;
    padding: 0;
  }
  .links li {
    display: inline-block;
    padding: 10px 20px;
    transition: all 0.3s ease 0s;
  }
  .ham {
    display: none;
  }
  .logo {
    display: block;
    justify-self: center;
    width: 400px;
    position: relative;
    left: 35%;
  }
  .bannerButton {
    width: 150px;
    height: 50px;
    position: relative;
    bottom: 180%;
    left: 10%;
    z-index: 2;
    color: white;
    border: 3px solid white;
    font-size: 20px;
    transition: all 0.3s ease 0s;
  }
  .intro {
    width: 500px;
    font-size: 23px;
  }
  #phx {
      display: block;
    box-shadow: 5px 5px 5px #555;;
}
.solution {
    background-color: #555;
    width: 100%;
    height: 100%;
    font-size: 15px;
    display: grid;
    grid-template-columns: 1fr;
}

  
}
